* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  min-height: calc(100vh - 75px - 75px);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
